/* ---------- SIGN IN ---------- */
.sign-in__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    /*justify-content: center;*/
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  #bodyWrapper {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
#bodyWrapper > nav {
    flex: 0 0 56px;
    overflow: hidden;
}

  #mapWrapper {
    flex: 1 0 auto;
    overflow: hidden;
}
#map33 { height: calc(100vh - 56px); }
  
  .sign-in__backdrop {
    position: absolute;
    inset: 0;
    background-color: rgba(235, 196, 112, 0.123);
  }
  
  .sign-in__wrapper form {
    width: 40rem;
    max-width: 90%;
    z-index: 1;
    /*animation: showSignInForm 1s;*/
  }
  
  .sign-in__wrapper form img {
    width: 4rem;
  }
  
  @keyframes showSignInForm {
    0%,
    30% {
      transform: translate(0, -150%);
    }
    70%,
    90% {
      transform: translate(0, 1rem);
    }
    80%,
    100% {
      transform: translate(0, 0);
    }
  }
  
  #map33 { height: calc(100vh - 56px); }